{% from "macros/UI/link.html" import render_link %}
{% macro render_nav()%}
<nav class="py-4 w-full border-b-2  hidden md:px-12 xl:px-72 md:block">
    <div class="flex items-center justify-between">
        <ul class="flex items-center gap-5">
            <li>
                <a class="text-xl font-bold" href="/">TaskMind</a>
            </li>
            <li>
                <a class="text-sm" href="#aboutUs">Sobre Nosotros</a>
            </li>
            <li>
                <a class="text-sm" href="/">Apoyanos</a>
            </li>
            <li>
                <a class="text-sm " href="/">Contribuye</a>
            </li>
        </ul>
        {{ render_link(label="Comenzar") }}
    </div>
</nav>
{% endmacro %}
