<!doctype html>
<html lang="en" data-theme="light">
    <head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css/output.css") }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>TaskMind</title>
    </head>
    <body class="px-6 xl:px-0">
        {%block children%} {%endblock%}
        <footer class="mt-32 py-4 w-full border-t-2 px-6 flex justify-between md:px-12 xl:px-72">
            <span>
                By
                <a class="underline underline-offset-2"
                    target="_blank"
                    href="https://www.luiseduardocortes.xyz"
                >
                        Luis Eduardo Ocegeuda Cortés
                </a>
                🤘🏻
            </span>
            <span class="font-semibold">
                TaskMind
            </span>
        </footer>
    </body>
</html>
