{% macro render_nav()%}
<nav class="py-4 w-full border-b-2">
    <div class="px-72 flex items-center justify-between">
        <ul class="flex items-center gap-5">
            <li>
                <a class="text-xl font-bold" href="/">TaskMind</a>
            </li>
            <li>
                <a class="text-sm" href="/">Sobre Nosotros</a>
            </li>
            <li>
                <a class="text-sm" href="/">Apoyanos</a>
            </li>
            <li>
                <a class="text-sm " href="/">Contribuye</a>
            </li>
        </ul>
        <a href="/" class="bg-black font-semibold text-white px-3 py-2 rounded-md">
            Comenzar
        </a>
    </div>
</nav>
{% endmacro %}
