{% extends "layouts/layout.html" %}
{% from "macros/nav.html" import render_nav %}
{%block children%}
{{ render_nav() }}
<div class="mx-auto max-w-5xl">
    <header class="py-28 w-3/4 mx-auto space-y-12">
        <section class="space-y-4">
            <h1 class="text-5xl font-bold text-center">Gestiona tareas en grupo de manera eficiente</h1>
            <h2 class="text-md text-neutral-700 text-center">
                TaskMind te permite crear y administrar tareas en grupos,
                asignar responsabilidades y hacer seguimiento del progreso en tiempo
                real.
            </h2>
        </section>
        <section class="flex justify-center">
            <a
                href=""
                class="bg-black font-semibold text-white inline-flex
                items-center gap-2 px-3 py-2 rounded-md
                hover:opacity-75 transition-opacity"
            >
                <span>Crear una cuenta gratis</span>
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </section>
        <section class="flex justify-center gap-6 text-sm items-center">
            <h3 class="inline-flex items-center gap-2">
                <i class="fa-solid fa-user-group"></i>
                <span>Ideal para equipos</span>
            </h3>
            <h3 class="inline-flex items-center gap-2">
                <i class="fa-solid fa-circle-check"></i>
                <span>Fácil de usar</span>
            </h3>
        </section>
    </header>
    <main>
        <section class="space-y-8">
            <header class="space-y-4">
                <h4 class="text-4xl font-bold text-center">Características principales</h4>
                <p class="text-md text-neutral-700 text-center">Todo lo que necesitas para gestionar tareas en equipo</p>
            </header>
            <main class="grid grid-cols-4 gap-4">
                {% for characteristic in characteristics %}
                <article class="space-y-4 border-2 p-4 rounded-md flex flex-col justify-between">
                    <div class="space-y-1">
                        <span class="{{characteristic["icon"]}} text-2xl"></span>
                        <h5 class="text-xl font-semibold">{{characteristic["title"]}}</h5>
                        <p class="text-sm text-neutral-600">{{characteristic["desc"]}}</p>
                    </div>
                    <p class="text-sm">{{characteristic["content"]}}</p>
                </article>
                {% endfor %}
            </main>
        </section>
    </main>
</div>
{%endblock%}
